[submodule "external/catch"]
	path = external/catch
	url = https://github.com/philsquared/Catch.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
